.container {
  display: flex;
  overflow: hidden;
}

.rightSide,
.leftSide {
  overflow: hidden;
}

.rightSide {
  display: grid;
  height: 100%;
  background-color: #0E1621;
  flex-grow: 1;
}

.resizeHandler {
  width: 10px;
  background-color: black;
  user-select: none;
}

.resizeHandler:hover {
  cursor: ew-resize;
}
