.container {
  min-height: 200px;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.container .form {
  align-self: self-end;
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.messagesContainer {
  background-color: #0E1621;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0px;
  overflow-y: auto;
}

.subContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messagesContainer::-webkit-scrollbar {
  display: none;
}

.messagesContainer {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: 10px;
  /* Firefox */
}

.scrollbar {
  min-width: 10px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0;
  user-select: none;
  transition: background-color 0.25s ease-in-out;
}

.active {
  background-color: rgb(100, 100, 100);
}

.contact {
  padding: 5px;
  background: #17212b;
  height: fit-content;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
