.container {
  min-height: 200px;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.container .form {
  align-self: self-end;
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.subContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  position: relative;
}

.scrollbar {
  min-width: 10px;
  background-color: rgb(100, 100, 100);
  position: absolute;
  user-select: none;
  border-radius: 6px;
}

.scrollbar-dynamics {
  transition: opacity 0.15s ease-in-out, transform 5s linear;
}

.scrollbar:hover,
.scrollbar:active {
  background-color: rgb(200, 200, 200);
}

.scrollbarContainer {
  position: absolute;
  height: 100%;
  min-width: 10px;
  user-select: none;
  right: 15px;
}

.contact {
  padding: 5px;
  background: #17212b;
  height: fit-content;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
