.bubble {
  background: red;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 4px 7px 1px 10px;
  border-radius: 20px;
  max-width: 500px;
}

.content {
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.sender {
  background: #2b5278;
  border-bottom-right-radius: 0px;
  align-self: end;
  margin-right: 10px;
}

.receiver {
  background: #182533;
  border-bottom-left-radius: 0 0;
  align-self: start;
  margin-left: 10px;
}


.sender,
.receiver {
  height: fit-content;
}

.invBlock,
.block {
  position: absolute;
  width: 10px;
  height: 10px;
  place-self: end;
}

.invBlock.sender {
  top: -10px;
  border-radius: 0 0 0 100%;
  z-index: 2;
  background-color: #0e1621;
}

.block.sender {
  top: -10px;
  z-index: 1;
}

.invBlock.receiver {
  right: 0px;
  top: -10px;
  border-radius: 0 0 100% 0;
  z-index: 2;
  background-color: #0e1621;
}

.block.receiver {
  right: 0px;
  top: -10px;
  z-index: 1;
}

.subContainer {
  max-width: 900px;
  min-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.panson {
  height: 0;
  position: relative;
}

.info {
  position: relative;
  display: flex;
  gap: 2px;
  margin-left: auto;
  align-items: center;
}

.info>img {
  position: relative;
  width: auto;
  height: 1.5rem;
}

.time {
  color: #7da8d3;
}

.receiver .time {
  color: #6d7f8f
}

.author {
  color: red;
}
