.container {
  background: #17212b;
}

.container:focus {
  outline: none;
}

.container:hover:not(.selected) {
  background: #202b36;
}

button.container {
  border-radius: 0;
  width: 100%;
  display: grid;
  height: 60px;
}

.img {
  width: 25px;
  height: 25px;
}

.other {
  color: White;
  font-weight: 700;
}

.self {
  color: #73b9f5;
}

.otherWithinGroup {
  color: lightcoral;
}

.selected {
  background-color: #2b5278;
}

.text {
  color: #7f91a4;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.row>div {
  min-width: 0;
}

.row>div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.date {
  flex-shrink: 0;
}

.unreadCount {
  background-color: #8774e1;
  padding: 3px 7px;
  border-radius: 15px;
  font-size: 0.9rem;
}
